<div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="false" data-transition="none" class="header-cus">
    <div class="ui-grid-b center">
        <div class="ui-block-a">
            <img src="img/icon-header/sub-menu.png" alt="">
        </div>
        <div class="ui-block-b">
            <img src="img/icon-header/Adobe-Flash-app1.png" alt="logo">
        </div>
        <div class="ui-block-c">
            <img src="img/icon-header/search.png" alt="search">
        </div>
    </div>

</div>
<div data-role="content" data-fullscreen="false"style="padding: 0px !important;height: 100% !important;">
    <div class="event" data-tap-toggle="false">
        <div class="ui-grid-b center">
            <div class="ui-block-a">People</div>
            <div class="ui-block-b add-event">
                <div class="icon-add">
                    <img src="img/icon-header/add-event.png" alt="add-event">
                </div>
                <a>Add New</a>
            </div>
            <div class="ui-block-c">Referian</div>
        </div>
        <div class="ui-grid-solo center add-new-event">
            <div class="ui-block-a">Add a New Event</div>
        </div>
    </div>
    <!--start map content-->
    <div class="ui-maps">

    </div>
</div>
<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="false" data-transition="none" class="footer-cus">
    <div class="ui-grid-d center">

        <div class="ui-block-a">
            <a href="#page-now" class="aLink">
                <img src="img/menubar-icon/alert-copy.png" alt="">
                <h4>New!</h4>
            </a>
        </div>
        <div class="ui-block-b">
            <a href="#page-parail" class="aLink">
                <div class="ui-alert"><h5>2</h5></div>
                <img src="img/menubar-icon/tool.png" alt="">
                <h4>Parail</h4>
            </a>
        </div>

        <div class="ui-block-c">

            <a href="#page-maps" class="aLink">
                <img src="img/menubar-icon/map.png" alt="">
                <h4>Maps</h4>
            </a>
        </div>
        <div class="ui-block-e">

            <a href="#page-list" class="aLink">
                <img src="img/menubar-icon/clipboard.png" alt="">
                <h4>List</h4>
            </a>
        </div>
        <div class="ui-block-d">
            <a href="index.html" class="aLink">
                <img src="img/menubar-icon/account-act.png" alt="">
                <h4 class="active">Comple</h4>
            </a>
        </div>
    </div>
</div>
