<body>

<div data-role="navbar" data-iconpos="top" class="nav-glyphish-example ui-navbar ui-mini" >
    <ul>
        <li><a href="#home" data-theme="b" data-icon="myhome" data-iconpos="notext"></a></li>
        <li><a href="#drinkslist" data-theme="b" data-icon="recipeslist" data-iconpos="notext"></a></li>
        <li><a href="#random" data-theme="b" data-icon="randomdrink" data-iconpos="notext"></a></li>
        <li><a href="#shopping" data-theme="b" data-icon="shoppinglist" data-iconpos="notext"></a></li>
        <li><a href="#search" data-theme="b" data-icon="mysearch" data-iconpos="notext"></a></li>
    </ul>
</div>
</body>