<div class="ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open"
     data-role="panel" id="leftpanel3" data-position="left" data-display="overlay" data-theme="a">

    <div class="ui-panel-inner"><h3>Left Panel: Overlay</h3>
        <a href="#demo-links" data-rel="close"
           class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close
            panel</a></div>


</div>

<div data-role="header" data-position="fixed" data-tap-toggle="false" data-fullscreen="false" class="header-cus">
    <div class="ui-grid-b center">
        <div class="ui-block-a">
            <a href="#leftpanel3">
                <img src="img/icon-header/sub-menu.png" alt="">
            </a>
        </div>
        <div class="ui-block-b">
            <img src="img/icon-header/Adobe-Flash-app1.png" alt="logo">
        </div>
        <div class="ui-block-c">
            <a href="#pop" data-transition="slide" data-rel="popup">
                <img src="img/icon-header/search.png" alt="search">
            </a>
            <div data-role="popup" id="pop">
                <div data-role="fieldcontain" class="ui-hide-label">
                    <label for="username">Search:</label>
                    <input type="text" name="username" id="username" value="" placeholder="Username"/>

                </div>

                <div class="ui-close-search">
                    <a href="#" data-rel="close">
                        <img src="img/icon-header/delete.png" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>

<div data-role="content">
    <div style="width: 100%;text-align: center;height: 100%;position: absolute;background: blue;">
        <h3>List's Content</h3>
    </div>
</div>

<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-fullscreen="false" class="footer-cus">
    <div class="ui-grid-d center">

        <div class="ui-block-a">
            <a href="#page-now" class="aLink" >

                <div class="ui-alert"><h5>2</h5></div>
                <img src="img/menubar-icon/alert-copy.png" alt="">
                <h4>New!</h4>
            </a>
        </div>
        <div class="ui-block-b">
            <a href="#page-parail" class="aLink" >
                <img src="img/menubar-icon/tool.png" alt="">
                <h4>Parail</h4>
            </a>
        </div>

        <div class="ui-block-c">

            <a href="#page-maps" class="aLink" >
                <img src="img/menubar-icon/map.png" alt="">
                <h4>Maps</h4>
            </a>
        </div>
        <div class="ui-block-e">

            <a href="#page-list" class="aLink" >
                <img src="img/menubar-icon/clipboard-act.png" alt="">
                <h4 class="active">List</h4>
            </a>
        </div>
        <div class="ui-block-d">
            <a href="index.html" class="aLink">
                <img src="img/menubar-icon/account.png" alt="">
                <h4>Comple</h4>
            </a>
        </div>
    </div>
</div>