<div data-role="panel" id="left-panel2" data-display="overlay" data-position="left" class="panel-index">
    <div>
        <h1 class="bar-header">FLASH APP</h1>
    </div>
    <div class="bar-content">
        <ul class="menu">
            <li>
                <a href="index.html">
                    <span class="glyph-icon flaticon-info27"></span>
                    New!
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyph-icon flaticon-shopping73"></span>
                    Panial
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyph-icon flaticon-paper11"></span>
                    Map
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyph-icon flaticon-homework"></span>
                    List
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyph-icon flaticon-folder265"></span>
                    Comple
                </a>
            </li>
        </ul>
        <ul class="menu">
            <li>
                <a onclick="exitFromApp()">
                    <span class="glyph-icon flaticon-info27"></span>
                    close
                </a>
            </li>
            <li>
                <a onclick="exitFromApp()">
                    <span class="glyph-icon flaticon-info27"></span>
                    help
                </a>
            </li>
        </ul>
    </div>
</div>

<!--/panel-->
<div data-role="header" data-id="persistent" data-position="fixed" class="header">
    <div class="app-menu">
        <a href="#left-panel2" class=""><i class="md md-dehaze"></i></a>
    </div>

    <div class="app-title">
        <img style="height: 100%;margin-left: 50%;" src="img/icon/Adobe-Flash-app1.png" alt=""/>
    </div>

    <div class="app-search">
        <a href="#popupsearch" data-rel="popup" data-inline="true" data-transition="slide" class="srmenu"
           id="btn-search">
            <i class="md md-search"></i>
        </a>
    </div>

    <div data-role="popup" class="h-serach" id="popupsearch">
        <form class="ui-filterable">
            <input id="filterlaw" data-type="search" placeholder="Search"/>
        </form>
    </div>
    <div style="width: 100%;float: left;">
        <div style="height: 40px;width: 100%; background-color: #F15818; padding: 5px;">
            <div data-role="navbar" data-iconpos="left" class="ui-navbar ui-mini" role="navigation">
                <ul class="ui-grid-b">
                    <li class="ui-block-a">
                        <a style="border: none;" href="#" class="ui-shadow ui-corner-all">plus</a>
                    </li>
                    <li class="ui-block-b">
                        <a href="#"
                           class="ui-btn ui-icon-plus ui-btn-icon-left ui-shadow ui-corner-all navbar-act">plus</a>
                    </li>
                    <li class="ui-block-c">
                        <a href="#" class="ui-shadow ui-corner-all">plus</a>
                    </li>

                </ul>
            </div>
        </div>
        <div style="height: 30px;width: 100%; background-color: yellow; padding: 5px;">
            <h5>ADD A NEW EVENT</h5>
        </div>
        <div style="height: 20px;width: 100%; background-color: #005599;padding: 5px;">
            <h5 style="float: left;color: #fff">Search The Place</h5>
        </div>
        <div style="background-color: #fff;height: 60px; width: 100%;">
            <div style="width: 90%;padding: 5px; float: left">
                <input type="text" placeholder="The Palace, Rue Do Fauborg"/>
            </div>
            <div style="float: left;width: 10%">
                <a href="#map-search">
                    <i class="md md-search" style="text-align: center !important;"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- /header -->
<div data-role="content" style="padding: 0px !important;margin-top: 30px !important;" class="cont">
    <div class="profile-image" style="padding-top: 250px">
        <div class='add-profile' style="margin-top:-50px">
            <img src="img/icon/camera3.png" alt="No Image"/>
        </div>
    </div>
    <div>
        <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: left">
    <span style="    font-size: 20px;
    background-color: #F9F9F9;
    padding: 0 10px;">
    Infomation
  </span>
        </div>
    </div>
    <div>
        <form action="">
            <select name="select-choice-0" id="type-of-orga">
                <option value="standard">Type of Organisation</option>
                <option value="rush">School</option>
                <option value="express">Restaurent</option>
                <option value="overnight">Club</option>
            </select>
            <select name="select-choice-0" id="type-of-event">
                <option value="standard">Type of event</option>
                <option value="rush">event-1</option>
                <option value="express">event-2</option>
                <option value="overnight">event-3</option>
            </select>

            <div data-role="fieldcontain">
                <textarea name="textarea" id="description" placeholder="Description"></textarea>
            </div>
        </form>
    </div>
    <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: left">
    <span style="    font-size: 20px;
    background-color: #F9F9F9;
    padding: 0 10px;">
    Option <!--Padding is optional-->
  </span>
    </div>
    <form action="">
        <input type="date" data-clear-btn="false" name="date-1" id="date-1" value="">

        <div style="width: 50%;float: left;">
            <label for="time-start">Time-Strart:</label>
            <input type="time" data-clear-btn="false" name="time-1" id="time-start" value="">
        </div>
        <div style="width: 50%;float: left;">
            <label for="time-end">Time-end:</label>
            <input type="time" data-clear-btn="false" name="time-1" id="time-end" value="">
        </div>
        <label for="slider">Portee(Km)</label>
        <input type="range" name="slider" id="slider" value="50" min="0" max="100">
        <label for="test">Etes vous abonnes, mon cher ami?</label>
        <input type="checkbox" name="test" id="test" style="
    margin-top: -11px;
    margin-left: 3px;">

        <div style="width: 70%;float:left;"><label>Etes vous abonnes, mon cher ami?</label>

            <h1 style="padding: 0px !important;">093</h1></div>
        <div style="float:left;">
            <button style="text-align: center;width: 70px; height:70px;
    background-color: #76F512 !important;
    border-color: #76F512 !important;border-radius: 100%;">OK
            </button>
        </div>
    </form>

</div>
<!--footer-->
<div data-role="footer" data-position="fixed" class="footer">
    <div class="tab-menu" >
        <a href="#page-now">
            <h1 class="glyph-icon flaticon-info27"></h1>
            <h5>Now!</h5>
        </a>
    </div>

    <div class="tab-menu">
        <a href="#page-parial">
            <h1 class="glyph-icon flaticon-shopping73"></h1>
            <h5>parial</h5>
        </a>
    </div>
    <div class="tab-menu">
        <a href="#page-map">
            <h1 class="glyph-icon flaticon-paper11"></h1>
            <h5>Map</h5>
        </a>
    </div>
    <div class="tab-menu">
        <a href="#page-lists">
            <h1 class="glyph-icon flaticon-homework"></h1>
            <h5>Lists</h5>
        </a>
    </div>
    <div class="tab-menu">
        <a href="index.html" class="active">
            <h1 class="glyph-icon flaticon-folder265"></h1>
            <h5>Comple</h5>
        </a>
    </div>
</div>