.ui-popup-container {
    position: fixed;
}

#option, #goption, #gloption, #coption, #aoption {
    top: 21px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: 1px solid transparent;
}

#option ul, #goption ul, #gloption ul, #coption ul, #aoption ul {
    padding: 5px 0;
    margin: 0;
    list-style-type: none;

}

#option ul li, #goption ul li, #gloption ul li, #coption ul li, #aoption ul li {
    margin: 15px 0;
}

#option ul li a, #goption ul li a, #gloption ul li a, #coption ul li a, #aoption ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
}

.app-menu, .app-search, .app-shr, .app-title {
    float: left;
    height: 100%;
    width: 10%;
    padding-top: 10px;
}

.app-search, .app-shr {
    /* width: 10%; */
    /* float: right !important; */
    /* float: right !important; */
}

.app-title {
    margin: 0;
    width: 80%;

}

.app-menu a i, .app-search a i, .app-shr a i {
    color: #000;
    font-size: 24px;
    margin: 0px auto !important;
    padding: 0 20%;
}

.header {
    min-height: 60px;
}

.h-serach {
    float: left;
    max-width: 75%;
    background: #4285F4 !important;
    border-style: none !important;
    margin-top: 0px !important;
}

.h-serach .ui-body-inherit {
    border-style: none;
    border-bottom: 1px solid #fff !important;
    background: transparent !important;
    color: #fff;
    width: 100%
}

.ui-alt-icon .ui-icon-search::after, .ui-input-search::after {
    background-image: url("img/search_white_24x24.png") !important;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    opacity: 1;
}

.ui-input-search::after {
    top: 47%;

}

.ui-btn-icon-notext::after {
    top: 62%;
}

.ui-input-search input {
    padding-left: 2em;
    padding-bottom: 0;
    color: #fff;
}

.ui-icon-delete::after {
    background-image: url("img/close_white_24x24.png") !important;
}

.ui-input-search input::-webkit-input-placeholder {
    color: #f0f0f0;
    font-size: 17px;
    font-weight: lighter;
}

.ui-input-search input:-moz-placeholder {
    /* Firefox 18- */
    color: #f0f0f0;
    font-size: 17px;
    font-weight: lighter;
}

.ui-input-search input::-moz-placeholder {
    /* Firefox 19+ */
    color: #f0f0f0;
    font-size: 17px;
    font-weight: lighter;
}

.ui-input-search input:-ms-input-placeholder {
    color: #f0f0f0;
    font-size: 17px;
    font-weight: lighter;
}

html .ui-bar-a, html .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #FFFFFF !important;
}

.content a {
    width: 20% !important;
}

.md {
    font-size: 34px !important;
    margin-top: 10px !important;
}

.footer h5 {
    /*color: #A7A7A7 !important;*/

}
.footer {
    border-color:#fff !important;
}
.tab-menu .glyph-icon,h5{
    text-align: center; margin: auto;
}

.tab-menu .active .glyph-icon,.active h5 {
    background-color: #FFFFFF;
    color: #0F1BBB !important;
}
.tab-menu {
    width: 20%;
    float: left;
    border: #fff;
}
.btnConnection{
    height: 60px;
    font-size: 22px;
    width: 80%;
    margin: auto;
    background-color: #f0f0f0 !important;
    border-color: #fff !important;
    color: #0a6ebd !important;
    margin-top: 200px;
}
.btnRegister{
    height: 60px;
    font-size: 22px;
    opacity: 0.5 !important;

    border-color: #fff !important;
    width: 80%;
    margin: auto;
    background-color: #f0f0f0 !important;
    color: #0a6ebd !important;
    margin-top: 10%;
}
.cont .head{
    background-color: #f00 !important;
    width: 100% !important;
    padding: 0px !important;
}
.cont .head h1{
    margin: 0px auto;
    text-align: center;
    color: #fff;
    font-family: arial;
    font-size: 22px;
    padding: 15px;
}
.ui-field-contain, .ui-mobile fieldset.ui-field-contain{
    padding: 0px !important;
    margin: 0px;
}
.profile-image{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../img/icon/old foto.jpg');
}
.add-profile{
    float: right;
    background-size: 100%;
    border-color: #B59595;
    border: solid 3px #D8CECE;
    padding: 5px;
    border-radius: 100%;
    background-color: #D8CECE;
    margin-top: 139px;
    margin-right: 10px;
}
.txt{
    width: 50% !important; 
    float: left;
}
.tab-menu a {
            color: #666 !important;;
        }
        .tab-menu a{
            color: red !important;;
        }
