/*start home page style*/
.ui-content-cus {
    border-top: solid 2px #FFD400;
    padding: 0px;
    width: 100%;
    height: 100%; 
    position: fixed;
    top: 0px;
}

.aLink {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.ui-btn-connect, .ui-btn-register {
    background-color: #FFFFFF !important;
    color: #53d8ff !important;
    border: none !important;
}

.ui-btn-register {

}

/*end home page style*/
.center {
    text-align: center;
    margin-top: 0px;

}

.center img {
    height: 50%;
}

.center h4 {
    color: #bbb2b2;
    width: 100%;
    height: 50%;
    margin: 0px;
    float: left;
    text-align: center;
}

.center .active {
    color: #4e79f9 !important;
}

.footer-cus, .header-cus {
    height: 65px !important;
    background-color: #FFFFFF !important;
    border: none !important;
}

.footer-cus {
    padding: 4px 0px !important;
}

.header-cus .center img {
    height: 80% !important;
}

.header-cus .center .ui-block-c img {
    float: right;
    position: absolute;
    right: 10px;
    top: 25%;
    height: 50% !important;
}

.header-cus .center .ui-block-a img {
    float: left;
    position: absolute;
    left: 10px;
    top: 25%;
    height: 50% !important;
}

.event .add-new-event {
    background-color: yellow !important;
    margin: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
}

.event .center {
    background-color: #EC6200;
    color: #D4CCCC;
    border-top: solid 5px #EC6204;
}

.event {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 65px;
}

.event .center .add-event {
    border-right: solid 2px #DEDEDE;
    border-left: solid 2px #DEDEDE;
}

.icon-add {
    width: 25%;
}

.event .center .add-event .icon-add img {
    height: 15px !important;
    float: left;
    margin-left: 4px;
}

.event .center .add-event a {
    text-decoration: none;
    width: 75%;
    color: white;
    float: left;
}

.ui-maps {
    width: 100%;
    height: 85%;
    position: fixed;
    top: 95px;
}

.ui-add-info {
    width: 100%;
    height: 925px;
    top: 95px;
    position: absolute;
}

.ui-reseaerch, .ui-reseaerch-maps {
    width: 100%;
    z-index: 2;
    position: fixed;
}

.ui-reseaerch {
    top: 94px;
    background-color: #FFFFFF !important;
}

.ui-reseaerch-maps {
    width: 98% !important;
    left: 1%;
    bottom: 80px;
}

.ui-btn-add a {
    color: #fff !important;
    text-decoration: none;
}

.gmnoprint {
    display: none;
}

.ui-lb-search {
    width: 100%;
    height: 23px;
    background-color: blue
}

.ui-lb-search h4 {
    color: #FFFFFF; 
    width: 100%;
}

.ui-btn-search, .ui-btn-search-maps {
    width: 13% !important;
    right: 1% !important;
    margin: 0px !important;
    padding: 0px;
    background-color: #FFFFFF !important;
    position: fixed !important;
    border: solid 2px #C1C0C0 !important;
    height: 38px !important;
}

.ui-btn-search {
    top: 147px;
}

.ui-input-has-clear {
    padding: 0px !important;
}

.ui-btn-search-maps {
    bottom: 87px !important;
}

.ui-btn-search img, .ui-btn-search-maps img {
    height: 100% !important;
}

.ui-btn-add {
    width: 24% !important;
    right: 1% !important;
    margin: 0px !important;
    position: fixed !important;
    background-color: #1EA706 !important;
    border: none !important;
    bottom: 155px !important;
}

.ui-maps .ui-input-text, .ui-maps .ui-body-inherit {
    width: 83% !important;
}

/*ui content*/
.ui-content-register-cus {
    width: 100%;
    height: 530px;
    position: absolute;
}

.ui-msg-error {
    width: 100%;
    text-align: center;
    background-color: #FF4A04;
    padding: 10px 0px;
    display: none;
}

.ui-msg-error h4 {
    margin: 0px !important;
    color: #FFFFFF !important;
}

.ui-img-pro-add-event {

}

.ui-img-pro, .ui-img-pro-event {
    width: 100%;
    height: 250px;
    position: absolute;
    border: 1px solid #b8b8b8;
}

.ui-grid-solo > .ui-block-a {
    margin: 0px !important;
}

.ui-info {
    width: 100%;
    top: 100%;
    position: absolute;
    padding: 0px 2% !important;
}

.ui-text {
    width: 96% !important;
}

.ui-input-btn {
    margin: 0px !important;
    background-color: #FF4A04 !important;
}

.ut-btn-brow {
    width: 40px;
    height: 40PX;
    background: #fff;
    z-index: 1;
    padding: 10px;
    /* top: 35%; */
    bottom: 10%;
    right: 9px;
    position: absolute;
    border-radius: 100%;
}

.ui-alert {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 100%;
    position: absolute;
    left: 32%;
}

.ui-alert h5 {
    font-size: 14px;
    margin: 0px;
    color: #fff;
} 

/* Content styling. */
dl {
    font-family: "Times New Roman", Times, serif;
    padding: 1em;
}

dt {
    font-size: 2em;
    font-weight: bold;
}

dt span {
    font-size: .5em;
    color: #777;
    margin-left: .5em;
}

dd {
    font-size: 1.25em;
    margin: 1em 0 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.back-btn {
    float: right;
    margin: 0 2em 1em 0;
}

.ui-popup-container, .ui-hide-label, .ui-popup-active {
    /*position: absolute !important;*/
    /*left: 0px !important;*/
    /*top: 0px !important;*/
    /*height: 31px !important;*/
    /*width: 100% !important;*/
    /*max-width:100% !important;*/
    /*background-color: #FFFFFF;*/
}

.ui-input-text {
    border: none !important;
    width: 100% !important;
}

.ui-close-search {
    width: 28px;
    border-radius: 100%;
    height: 28px;
    padding: 0px;
    position: absolute;
    top: 15px;
    right: 8px;
}

.ui-close-search img {
    width: 100%;
}

/*ui-add-new-event*/
.ui-img-pro-event {
    top: 185px;
}

.ui-search-map-event {
    width: 85% !important;
    border: solid 2px #9494E4 !important;
}

.ui-input-search {

    border: none;
}

.ui-text-info {
    width: 96% !important;
    left: 2%;
    position: absolute;
}

.btn-brow-add-event {
    width: 40px;
    height: 40PX;
    background: #fff;
    z-index: 1;
    padding: 10px;
    /* top: 35%; */
    bottom: 25%;
    right: 9px;
    position: absolute;
    border-radius: 100%;
}

.ui-field-contain .ui-select a, .ui-selectmenu ul li a {
    background: #FFFFFF !important;
    color: #000 !important
}

.ui-img-event {
    width: 30px;
    height: 30px;
    padding: 10px;
    top: 146px;
    position: absolute;
    background: #FFFFFF;
    right: 4px;
    border-radius: 100%;
}

.ui-line-cus, .ui-line-cus1 {
    width: 100%;
    position: absolute;
    height: 2px;
    top: 225px;
    background: black;
}
.ui-line-cus1{
    top: 415px !important;
}
.ui-label-cus, .ui-label-cus1 {
    background: #F9F9F9;
    position: absolute;
    top: 193px;
    padding: 0px 16px;
}
.ui-label-cus1{
    top: 382px !important;
}

#ui-input-event-name {
    position: absolute !important;
    width: 100% !important;
    top: 218px !important;
}

#ui-input-event-name input {
    position: absolute;
    background: white !important;
    border: solid 1px black !important;
}

.ui-textarea-cus {
    width: 100%;
    padding: 0px;
}

.ui-add-teatarea {
    height: 55px;
    margin: 0px;
}

.ui-select-cus {
    position: absolute;
    width: 100%;
    top: 262px;
}

.ui-full-info {
    width: 100%;
    position: absolute;
    top: 100px;
}
.ui-add-info-envent form .ui-input-text[type="date"]{
    float: left;
    width: 50% !important;
}
.ui-slider .ui-slider-track{
    background: #FFFFFF !important;
    top: 15px !important;
    height: 5px !important;
}
.ui-slider-track .ui-slider-handle{
    border-radius: 100% !important;
    background: gainsboro !important;
    border: none;

}
.ui-slider-bg{
    background: #EC7F0E !important;
}
.ui-checkbox{
    right: 20px !important;
    top: 31px !important;
}
.ui-add-info-envent hr{
    position: absolute;
/* z-index: 11; */
    top: 648px;
    width: 100%;
/* height: 30px; */
    background: #ECECEC;
}
.ui-submit{
    width: 100%;
    position: absolute;
    top: 680px;
}
.ui-submit h2, .ui-submit h4,  .ui-submit h3{
    margin: 0px !important;
}
.ui-btn-submit-cus{
    height: 70px;
    width: 70px !important;
    position: absolute;
    right: 5px;
    border-radius: 100% !important;
    top: -26px;
    padding: 0px;
    background: green !important;
    font-size: 33px;
}
.ui-info .ui-link{
    text-decoration: none !important;
}
.e-cl{
    width: 50%;float: left
}
.e-cl h4{
    margin: 0px !important;
}
.e-cl .right{
    position: absolute;
    right: 11px;
}